body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  //Import common styling
  @import './common/button.scss';

  .epics-team-builder {
    //Import component specific styling
    @import './widgets/setup-page.scss';
    @import './widgets/team-builder-page.scss';

    .gray-background {
      position: absolute;
      height: 820px;
      width: 100%;
      z-index: -1;
      background-color: #ececec;
      top: 100px;
    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
