.setup-page {
  height: 100vh;

  .header {
    background-color: white;
    height: 10%;
  }

  .setup-grid {
    margin: 0 auto;
    display: grid;
    height: 80%;
    max-width: 1920px;
    grid-template-columns: auto;
    grid-template-rows: auto;
  }

  .file-uploader {
    // background-color: yellowgreen;
    grid-column: 1/13;
    grid-row: 1/18;
  }

  .manual-project-assignment {
    background-color: lightblue;
    grid-column: 1/13;
    grid-row: 4/18;
  }

  .manually-assigned-students {
    background-color: lightpink;
    grid-column: 8/13;
    grid-row: 4/18;
  }
}