.setup-page {
  height: 100vh;

  .header-container {
    height: 100px;
    .header {
      height: 40px;
      background-color: #124734;
      display: flex;
      img {
        align-self: center;
        height: 40px;
      }
    }
  }

  .setup-grid {
    display: grid;
    height: 660px;
    max-width: 1920px;
    grid-template-columns: auto;
    grid-template-rows: auto;
  }

  .file-uploader {
    margin-top: 1rem;
    font-family: 'Times New Roman', Times, serif;
    grid-column: 1/13;
    grid-row: 1/4;
    display: flex;
    justify-content: space-around;

    .file-name-display {
      position: relative;
      box-sizing: border-box;
      overflow: hidden;
      text-overflow: ellipsis;
      top: 6px;
      font-size: 18px;
      width: 250px;
      height: 32px;
      margin-left: 60px;
      background-color: white;
      border: solid black 1px;
      border-radius: 4px;
      padding-left: 4px;
      vertical-align: middle;
    }

    .drag-box {
      cursor: pointer;
      background-color: #aaa;
      outline: black 3px dashed;
      height: 95%;
      padding: 4px 8px 0px;
      margin: -4px -8px 0px;
    }
  }

  .manual-project-assignment {
    grid-column: 1/8;
    grid-row: 4/18;
    margin-top: 16px;
    text-align: center;

    .title {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: unset;
    }

    .tables-container {
      margin: 24px 5%;
      text-align: left;

      .table-card {
        height: 400px;
        width: 0;
        overflow-y: scroll;
        border-collapse: separate;
        box-shadow: 2px 3px 4px 0 rgba(0, 0, 0, 0.3);

        thead tr th {
          background: white;
          position: sticky;
          top: 0;
          box-shadow: 0 0 0 1px #ccc;
        }
      }
    }
  }

  .manually-assigned-students {
    grid-column: 8/13;
    grid-row: 4/18;
    text-align: center;

    .title {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: unset;
    }

    .delete-button {
      box-sizing: border-box;
      width: 130px;
      text-align: center;
      color: white;
      background-color: #ec3d26;
      padding: 2px 8px;
      border-radius: 8px;
      font-weight: bold;
      font-size: 16px;
      border: solid white 3px;
      box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.5);
      transition: box-shadow 0.3s ease-in-out;
      vertical-align: middle;
      cursor: pointer;

      &:focus {
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
        transition: box-shadow 0.3s ease-in-out;
      }
    }
  }

  .preferred-project-slider {
    position: relative;
    height: 70px;
    width: 650px;
    left: 50%;
    transform: translate(-50%);
    background: white;
    border: 1px solid #343a40;
    border-radius: 4px;
    box-shadow: 2px 3px 4px 0 rgba(0, 0, 0, 0.3);

    h5 {
      display: inline-block;
      text-align: center;
      margin-top: 16px;
      margin-left: 40px;
      margin-bottom: unset;
      font-family: 'Times New Roman', Times, serif;
    }

    .noUi-target {
      display: inline-block;
      margin-bottom: 10px;
      margin-left: 60px;
      width: 16rem;
      height: 0.5rem;
      border: 1px solid #aaa;

      .noUi-handle {
        border: 1px solid #aaa;
        height: 1.3rem;
        width: 28px;
        left: -14px;
        top: -6px;

        &::before {
          left: 10px;
          background: #aaa;
        }

        &::after {
          left: 16px;
          background: #aaa;
        }
      }
      .noUi-marker {
        height: 0.3rem;
      }
      .noUi-value {
        font-size: 0.8rem;
        color: black;
      }
    }

    .auto-checkbox-container {
      width: 100px;
      margin-left: 180px;

      label {
        vertical-align: top;
      }
      .checkbox {
        margin-left: 14px;
        margin-top: 6px;
      }
    }
  }

  .generate-teams-btn {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    font-size: 24px;
    border-radius: 16px;
    top: 20px;

    &:disabled {
      background-color: darken(#e87500, 20%);
      cursor: not-allowed;
    }
  }

  th {
    background: white;
    position: sticky;
    top: 0;
    box-shadow: 0 0 0 1px #ccc;
  }
}
